/*
*
*    BODY
*  template do corpo do index d página
*/
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500');

.mdl-img {
  width: 100%;
  height: auto;
}

.mdl-card {
  width: 100%;
  min-width: 280px;
}

.mdl-form__label {
  position: relative;
  font-size: 16px;
  display: inline-block;
  box-sizing: border-box;
  width: 300px;
  max-width: 100%;
  margin: 0;
  padding: 10px 0px 0px 0px;
}

.mdl-layout__title, .mdl-layout-title {
  color: #424242;
  font-family: 'Raleway', sans-serif
  text-transform: lowercase;
}

.mdl-layout__header-row .mdl-navigation__link {
  color: #424242;
  font-family: 'Raleway', sans-serif
}

.mdl-button--fab.mdl-button--mini-fab {
  background-color: #1DE9B6;
  color:white;
}

.mdl-textfield {
  width: 90%;
}

.ec-spacer {
  padding: 4% 0% 0% 0% !important;
}

.ec-spacer_high {
  padding: 7.3% 0% 0% 0% !important;
}

.ec-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 42px;
  width: 100%;
}

.ec-important {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.ec-content {
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
  font-weight: 300;
  text-align: justify;
  padding: 1% 3%;
}

.ec-content_button {
  color: #1DE9B6 !important;
}

.ec-content_centralize {
  text-align: center;
}

.ec-sticky {
  position: fixed;
  top: 92%;
  left: 48%;
  z-index: 10;
}

.ec-layout_intro {
  background-color: #F5F5F5;
  /*background-image: linear-gradient(to bottom right, #80D8FF, #84FFFF, #A7FFEB, #B9F6CA);*/
  width: 100%;
  color: #424242;
  text-align: center;
  padding: 0%;
}

/*
*
*  SOBRE
*  Parte do sobre do index
*
*/

.ec-layout_about {
  background-color: #424242;
  text-align: center;
  color: #E0E0E0;
}

/*
*
*  HOW WORKS
*  Área de explicação do funcionamento do sistema.
*
*/

.ec-layout_howWorks {
  text-align:center;
}

.ec-layout_howWorks_button {
  margin: 0.5% 5%;
  background-color: #1DE9B6;
  color:white;
}

/*
*
*  SEARCH LAW
*  seção do busque seus direitos
*/

.ec-layout_laws {
  text-align: center;
}


.blue {
  background-color: #40C4FF;
  color: white;
}

/*
*
*  FOOTER
*  rodapé do sistema
*/

.mdl-layout__footer {
  position: relative;
  width: 100%;
  background-color:#212121;
  color: white;
  text-align:center;
}

/*
*
*  LOGIN
*  Página de login
*/

.ec-layout_login {
  background-color: #E0E0E0;
}

.ec-layout_login-card {
  margin: 0% 1% 0% 5%;
}

.ec-layout_login-button {
  margin: 0% 0% 0% 57%;
}

.ec-content_select{
  height: 27px;
}
